<config>
  <apiEndpoint>https://serviciostrygnoss.gnoss.com/api</apiEndpoint>
  <communityShortName>demo-gnoss-akademia-20-20</communityShortName>
  <ontologyName>tpersonajl</ontologyName>
  <developerEmail>alur20_20@ur.com</developerEmail>
  <token>
    <tokenKey>Qr9OCwxg3EiA9f9Dtkw8SYOUVvqLkr8N</tokenKey>
    <tokenSecret>bcBOCwxg3EhqwYo6OWbjSpi21fCCzqT7</tokenSecret>
  </token>
  <consumer>
    <consumerKey>9eA8Cwxg3EgUj0T6Y5zxRp7QxENKBKi3</consumerKey>
    <consumerSecret>2n49Cwxg3EjhtvLkNmLARLc1UwuUZPQG</consumerSecret>
  </consumer>
  <log>
    <logPath>/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>